/* 公共样式 */
*{
    box-sizing: border-box;
}
section{
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 1040px;
    overflow: hidden;
}
.hidden{
    display: none;
}

/* page1 */
.page1{
    text-align: center;
}
.page1 img{
    width: 100%;
}
.page1 label{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
}
.page1 span{
    padding: 20px;
    border: 1px solid #232323;
    font-size: 36px;
}

/* page2 */
.page2 img{
    width: 100%;
}
