*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
@font-face{
    font-family: myFirstFont;
    src: url('../fonts/TT0154M.TTF')
}
h1{
    font-family: myFirstFont; 
    color: #badafd;
    font-size: 48px;
}
li{
    padding-right:30px;
}
ul{
    list-style:none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../images/bg.png") no-repeat center center;
    background-size: 100% 100%;

}
.container-fluid{
    position: relative;
}
.title{
    color: white;
    background-color: transparent;
    border: none;
   
}
.content{
    position: relative;
    .ulCon{
        width: 100%;
    }
}
.row{
    color: white;
}
h3{
    font-size: 40px;
}