﻿@charset "utf-8";
* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    color: #333;
    font-family: Arial, Verdana, serif;
    line-height: 1.4;
    user-select: none;
    -webkit-touch-callout: none
}

a,
a:active {
    outline: 0;
    color: #333;
    text-decoration: none
}

body {
    min-width: 320px;
    margin: 0 auto
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
    visibility:hidden;
}
.clearfix{zoom:1;}
.mgt1{margin-top:1rem;}
.mgt12{margin-top:1.2rem;}
.mgt32{margin-top:3.2rem;}
.mgt38{margin-top:3.8rem;}
.mgt44{margin-top:4.4rem;}
.mgt48{margin-top:4.8rem;}
.mgt54{margin-top:5.4rem;}

/*rem*/
html {
    font-size: 25px
}


@media screen and (min-width: 320px) {
    html {
        font-size:21.333px
    }


}

@media screen and (min-width: 360px) {
    html {
        font-size:24px
    }

}

@media screen and (min-width: 375px) {
    html {
        font-size:25px
    }

}

@media screen and (min-width: 384px) {
    html {
        font-size:25.6px
    }

}

@media screen and (min-width: 400px) {
    html {
        font-size:26.667px
    }

}

@media screen and (min-width: 414px) {
    html {
        font-size:27.6px
    }

}

@media screen and (min-width: 424px) {
    html {
        font-size:28.27px
    }

}

@media screen and (min-width: 480px) {
    html {
        font-size:32px
    }

}

@media screen and (min-width: 540px) {
    html {
        font-size:36px
    }

}

@media screen and (min-width: 720px) {
    html {
        font-size:48px
    }

}

@media screen and (min-width: 750px) {
    html {
        font-size:50px
    }

}
/* 具体样式 */

.wrapper {
    display: block;
    width: 100%;
}

.loading-area {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.main {
    margin: 0 auto
}

.hide {
    display: none;
}

#wrap {
    position: relative;
    min-height: 100%
}

#pages {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #333;
    text-align: contain;
    touch-action: pan-x;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.page {
    background-image: url(../images/bg1.jpg);
}

.audio-area {
    display: none;
    position: fixed;
    top: 3%;
    right: 4%;
    z-index: 10;
}

.audio-area a {
    display: block;
    width: 1.08rem;
    height: 1.08rem;
    background: url(images/note.png) no-repeat center;
    background-size: 1.08rem auto;
}

.audio-area a.active {
    -webkit-animation: rotate 4s linear 1s infinite
}

.theme-area {
    width: 5.92rem;
    margin: 4.2rem auto 0;
}

.theme-area em {
    display: block;
    width: 6rem;
    height: 5.68rem;
    background: url(../images/theme.png) no-repeat center;
    background-size: 5.92rem auto;
}

.con {
    position: absolute;
    top: 50%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.tt {
    opacity: 0;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: both;
}

.tt-show {
    opacity: 0;
    -webkit-animation-name: fadeShow;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.6s;
    -webkit-animation-fill-mode: both;
}

.t1 {
    width: 11.8rem;
    height: 3.76rem;
    margin: 1.88rem auto 0;
    background: url(../images/home-page-main.png) no-repeat center;
    ;
    background-size: 11.8rem auto;
}

.m1 {
    width: 2.56rem;
    height: 3.4rem;
    margin: 1.28rem auto 0;
    background: url(../images/mascot.png) no-repeat center;
    background-size: 2.56rem auto;
}

.shou {
    top: initial;
    bottom: .1rem;
    height: .52rem;
    background-image: url(images/bottom-arrow.png);
    -webkit-animation: guideTop 1.5s ease-in-out .5s infinite
}

/* .showed .tt{animation-name:fadenone;}
.showed .tt-show{animation-name:fadenone;} */

.introduce-line {
    display: block;
    color: #efc667;
    text-align: center;
    margin:0 auto;
}

.introduce-line em {
    display: block;
    height: 1.12rem;
}
.line-detail-show{
    width:11.6rem;
}
.line-detail-show em{
    height:11.4rem;
    background:url(../images/p01-detail.png) no-repeat center;
    background-size: 11.6rem auto;
    -webkit-animation-delay: 1s;
}

.line-anim-show em {
    -webkit-animation-name: fadeWordsShow;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.line-header{
    width: 11.6rem;
    height:1.8rem;
}
.line-header em{
    height:1.8rem;
    background: url(../images/pline-detail.png) no-repeat  left center;;
    background-size: 11.6rem auto;
}
.line1 {
    width: 10rem;
    height:1.8rem;
}

.line1 em {
    height:1.8rem;
    background: url(../images/p01.png) no-repeat center;
    background-size: 10rem auto;
}

.line2 {
    margin-top:1.4rem;
    width: 12.6rem;
    height:1rem;
}

.line2 em {
    background: url(../images/p21.png) no-repeat;
    background-size: 12.6rem auto;
    -webkit-animation-delay: 1s;
}

.line3 {
    margin-top:0.8rem;
    width: 7.3rem;
    height:0.9rem;
}

.line3 em {
    background: url(../images/p22.png) no-repeat;
    background-size: 7.3rem auto;
    -webkit-animation-delay: 2s;
}

.line4 {
    margin-top:0.5rem;
    width: 5.1rem;
    height:0.9rem;
}

.line4 em {
    background: url(../images/p23.png) no-repeat;
    background-size: 5.1rem auto;
    -webkit-animation-delay: 3s;
    -webkit-animation-duration: 1s;
}
.intro-btn{display: block;}
.line5 {
    width: 5.1rem;
    margin-top:1.28rem;
}

.line5 em {
    height:1.4rem;
    background: url(../images/p24.png) no-repeat;
    background-size: 5rem auto;
    -webkit-animation-delay: 4s;
}

.line6 {
    width: 5rem;
    margin-top:0.8rem;
}

.line6 em {
    height:1.4rem;
    background: url(../images/p25.png) no-repeat;
    background-size: 5rem auto;
    -webkit-animation-delay: 5s;
}

.meeting-detail-ver {
    width: 12.4rem;
    height: 11.6rem;
    margin: 0 auto;
    background: url(../images/meeting-detail.png) no-repeat center;
    background-size: 12.4rem auto;
    -webkit-animation-delay: 200ms;
}

.meeting-list-ver {
    width: 8.6rem;
    height: 8.6rem;
    margin: 0 auto;
    background: url(../images/meeting-list.png) no-repeat center;
    background-size: 8.6rem auto;
    -webkit-animation-delay: 200ms;
}
.header-show span {
    display: block;
}

.guide-header span {
    width: 100%;
    height: 0.64rem;
    background: url(../images/meeting-guide.png) no-repeat center;
    background-size: 3.6rem;
}

.video-live-header span {
    width: 100%;
    height: 0.64rem;
    background: url(../images/video-live.png) no-repeat center;
    background-size: 3.6rem;
}

.meeting-guide-wrap {
    width: 13.6rem;
    height: 12.8rem;
    margin: 0 auto;
    background: url(../images/guide-main.png) no-repeat center;
    background-size: 13.6rem auto;
}

.meeting-video-wrap {
    padding: 0.7rem 0;
}

.meeting-video-wrap a {
    display: block;
    width: 13rem;
    height: 9.8rem;
    margin: 0 auto;
    background: url(../images/video-detail.png) no-repeat center;
    background-size: 13rem auto;
    cursor: pointer;
}

.meeting-operation a {
    display: block;
    cursor: pointer;
}

.vr-btn {
    width: 6.3rem;
    height: 1.36rem;
    margin: 0 auto;
    background: url(../images/vr-btn.png) no-repeat center;
    background-size: 6.3rem;
}

.video-live-btn {
    width: 6.3rem;
    height: 1.36rem;
    margin: 0 auto;
    background: url(../images/video-live-btn.png) no-repeat center;
    background-size: 6.3rem;
}

.suning-intro {
    width: 10.4rem;
    height: 16.2rem;
}

.suning-cloud-intro {
    width: 10.4rem;
    height: 13.4rem;
}

.user-setting.layui-m-layerchild {
    background-color: #0e284c;
}

.user-setting .layui-m-layercont {
    padding: 1rem 0.6rem;
}

.close-layer-btn {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: url(images/close-icon.png) no-repeat center;
    background-size: 0.5rem auto;
}
@-webkit-keyframes guideTop{
    0%{opacity:0;-webkit-transform:translateY(-4px)}
    50%{opacity:1;-webkit-transform:translateY(-18px)}
    100%{opacity:0;-webkit-transform:translateY(-32px)}
}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;-webkit-transform:translate3d(0,100%,0)}
    100%{opacity:1;-webkit-transform:none}
}
@-webkit-keyframes fadenone{
    0%{opacity:1;-webkit-transform:none}
    100%{opacity:1;-webkit-transform:none}
}

@-webkit-keyframes fadeShow{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes rotate{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes fadeWordsShow{
    0%{width:0;}
    100%{width:100%;}
}