@base:75rem; 
.fontSize(@size){
    font-size: @size * 1px;
    [data-dpr = '2'] & {
        font-size:@size * 2px;
    };
    [data-dpr = '3'] & {
        font-size: @size * 3px;
    }
}

html,body{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #000;
    font-family: 'initial';
}
.all{
    width: 100%;
    height: 1206/@base;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.audio{
    position: absolute;
    z-index: 1000;
    right: 30/@base;
    top: 0/@base;
    width: 68/@base;
}
.active{
    animation: rotate1 1.2s linear infinite;
    -moz-animation: rotate1 1.2s linear infinite;
    -webkit-animation: rotate1 1.2s linear infinite;
    -o-animation: rotate1 1.2s linear infinite;
}
.invitation{
    position: absolute;
    width: 100%;
    height: 1206/@base;
}
.loading{
    width: 100%;
    height: 1206/@base;
    .center{
        position: absolute;
        width: 360/@base;
        height: 360/@base;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        img{
            position: absolute;
            width: 360/@base;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        img:nth-child(1){
            animation: rotate1 1.2s linear infinite;
            -moz-animation: rotate1 1.2s linear infinite;
            -webkit-animation: rotate1 1.2s linear infinite;
            -o-animation: rotate1 1.2s linear infinite;
        }
        img:nth-child(2){
            width: 340/@base;
            z-index: 30;
            animation: rotate2 1s linear infinite;
            -webkit-animation: rotate2 1s linear infinite;
            -moz-animation: rotate2 1s linear infinite;
            -o-animation: rotate2 1s linear infinite;
        }
        img:nth-child(3){
            width: 325/@base;
            z-index: 50;
            animation: rotate1 1.2s linear infinite;
            -moz-animation: rotate1 1.2s linear infinite;
            -webkit-animation: rotate1 1.2s linear infinite;
            -o-animation: rotate1 1.2s linear infinite;
        }
        p{
            .fontSize(30);
            font-weight: bolder;
            color: white;
            position: absolute;
            z-index: 100;
            text-align: center;
            width: 100%;
            top: 140/@base;
        }
    }
}
@keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-o-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
@-moz-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
@-webkit-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
@-o-keyframes rotate1{
    0%{

    }
    100%{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
.arrow{
    width: 60/@base;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30/@base;
    z-index: 1000;
    animation:arrow 1s infinite;
    -moz-animation:arrow 1s infinite;
    -webkit-animation:arrow 1s infinite;
    -o-animation:arrow 1s infinite;
}
@keyframes arrow{
    0%{
        
    }
    100%{
        transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }
}
@-moz-keyframes arrow{
    0%{
        
    }
    100%{
        transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }
}
@-webkit-keyframes arrow{
    0%{
        
    }
    100%{
        transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }
}
@-o-keyframes arrow{
    0%{
        
    }
    100%{
        transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }
}
.swiper-container{
    position: absolute;
    width: 100%;
    height: 100%;
    .bg_star{
        position: absolute;
        width: 100%;
    }
    .kua{
        position: absolute;
        width: 700/@base;
        height: 1082/@base;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        img{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            
        }
        img:nth-child(2){
            width: 90%;
            left: 0;
            
            top: 0;
            margin: auto;
        }
    }
    .light{
        img{
            width: 588/@base;
            position: absolute;
        }
        img:nth-child(1){
            left: -800/@base;
            top: -1080/@base;
            animation: light1 1s linear infinite;
            -moz-animation: light1 1s linear infinite;
            -webkit-animation: light1 1s linear infinite;
            -o-animation: light1 1s linear infinite;
        }
        img:nth-child(2){
            right: -800/@base;
            bottom: -1080/@base;
            animation: light2 1s linear infinite;
            -moz-animation: light2 1s linear infinite;
            -webkit-animation: light2 1s linear infinite;
            -o-animation: light2 1s linear infinite;
        }
        img:nth-child(3){
            transform-origin: center center;
            -ma-transform-origin: center center;
            -moz-transform-origin: center center;
            -webkit-transform-origin: center center;
            -o-transform-origin: center center;
            right: -706/@base;
            top: -1080/@base;
            animation: light3 1s linear infinite;
            -moz-animation: light3 1s linear infinite;
            -webkit-animation: light3 1s linear infinite;
            -o-animation: light3 1s linear infinite;
        }
        img:nth-child(4){
            transform-origin: center center;
            -ms-transform-origin: center center;
            -moz-transform-origin: center center;
            -webkit-transform-origin: center center;
            -o-transform-origin: center center;
            left: -706/@base;
            bottom: -1080/@base;
            animation: light4 1s linear infinite;
            -moz-animation: light4 1s linear infinite;
            -webkit-animation: light4 1s linear infinite;
            -o-animation: light4 1s linear infinite;
        }
    }
    .light_effect{
        position: absolute;
        width: 600/@base;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -250/@base;
    }
    .city{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom:140/@base;
        width: 540/@base;
    }
    .header{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1000;
        width: 380/@base;
        top: 60/@base;
        img{
            position: absolute;
            width: 380/@base;
        }
        p{
            .fontSize(17);
            position: absolute;
            color: #c4dfe6;
            width: 100%;
            text-align: center;
            line-height: 50/@base;
        }
    }
}
.swiper-container,.swiper-slide{
    width: 100%;
    height: 100%;
}
.slide1{
    position: relative;
    .bg_loading{
        width: 100%;
        position: absolute;
    }
    .logo{
        width: 319/@base;
        position: absolute;
        left: 80/@base;
        top: 120/@base;
    }
    .text_invitation{
        position: absolute;
        z-index: 300;
        width: 280/@base;
        left: 0;
        right: 0;
        margin: auto;
        top: 220/@base;
        img{
            width: 280/@base;
        }
    }
    .img_text1{
        position: absolute;
        z-index: 30;
        width: 640/@base;
        // left: 130/@base;
        left:0;
        right: 0;
        margin: auto;
        margin-left: 80/@base;
        top: 440/@base;
        z-index: 200;
    }
    .text_light{
        position: absolute;
        z-index: 200;
        top: 100/@base;
        left: 160/@base;
        width: 460/@base;
    }
    .dress{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 130/@base;
        width: 230/@base;
    }
    .center{
        position: absolute;
        width: 440/@base;
        height: 440/@base;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        .circle{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
        }
        .circle:nth-child(2){
            z-index: 10;
            width: 430/@base;
        }
        .circle:nth-child(3){
            z-index: 30;
            width: 420/@base;
        }
        .time{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            top: -20/@base;
            z-index: 30;
            color: #66A5AD;
            .fontSize(28);
        }
        
        .img_text2{
            position: absolute;
            z-index: 30;
            width: 260/@base;
            left: 0;
            right: 0;
            margin: auto;
            top: 250/@base;
        }
        
        .timeText{
            position: absolute;
            z-index: 100;
            width: 220/@base;
            left: 0;
            right: 0;
            margin: auto;
            top: -10/@base;
        }
        .text{
            width: 100%;
            text-align: center;
            position: absolute;
            z-index: 30;
            color: #66A5AD;
            .fontSize(22);
            font-weight: bold;
            top:70/@base;
            animation: dot 2s linear infinite;
            -moz-animation: dot 2s linear infinite;
            -webkit-animation: dot 2s linear infinite;
            -o-animation: dot 2s linear infinite;
        }
        
    }
    
    .dot_light{
        position: absolute;
        z-index: 500;
        top: 470/@base;
        left: 144/@base;
    }
    .dot{
        width: 163/@base;
        animation: dot 2s linear infinite;
        -moz-animation: dot 2s linear infinite;
        -webkit-animation: dot 2s linear infinite;
        -o-animation: dot 2s linear infinite;
    }
}
@keyframes scale{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);
        -moz-transform:scale(0);
        -webkit-transform:scale(0);
        -o-transform:scale(0);
    }
    100%{
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}
@-moz-keyframes scale{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);
        -moz-transform:scale(0);
        -webkit-transform:scale(0);
        -o-transform:scale(0);
    }
    100%{
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}
@-webkit-keyframes scale{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);
        -moz-transform:scale(0);
        -webkit-transform:scale(0);
        -o-transform:scale(0);
    }
    100%{
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}
@-o-keyframes scale{
    0%{
        transform:scale(0);
        -ms-transform:scale(0);
        -moz-transform:scale(0);
        -webkit-transform:scale(0);
        -o-transform:scale(0);
    }
    100%{
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}
@keyframes light1{
    0%{
        
    }
    100%{
        transform: translateX(1250px);
        -moz-transform: translateX(1250px);
        -ms-transform: translateX(1250px);
        -webkit-transform: translateX(1250px);
        -o-transform: translateX(1250px);
    }
}
@-moz-keyframes light1{
    0%{
        
    }
    100%{
        transform: translateX(1250px);
        -moz-transform: translateX(1250px);
        -ms-transform: translateX(1250px);
        -webkit-transform: translateX(1250px);
        -o-transform: translateX(1250px);
    }
}
@-webkit-keyframes light1{
    0%{
        
    }
    100%{
        transform: translateX(1250px);
        -ms-transform: translateX(1250px);
        -moz-transform: translateX(1250px);
        -webkit-transform: translateX(1250px);
        -o-transform: translateX(1250px);
    }
}
@-o-keyframes light1{
    0%{
        
    }
    100%{
        transform: translateX(1250px);
        -ms-transform: translateX(1250px);
        -moz-transform: translateX(1250px);
        -webkit-transform: translateX(1250px);
        -o-transform: translateX(1250px);
    }
}
@keyframes light2{
    0%{
        
    }
    100%{
        transform: translateX(-1250px);
        -ms-transform: translateX(-1250px);
        -moz-transform: translateX(-1250px);
        -webkit-transform: translateX(-1250px);
        -o-transform: translateX(-1250px);
    }
}
@-moz-keyframes light2{
    0%{
        
    }
    100%{
        transform: translateX(-1250px);
        -ms-transform: translateX(-1250px);
        -moz-transform: translateX(-1250px);
        -webkit-transform: translateX(-1250px);
        -o-transform: translateX(-1250px);
    }
}
@-webkit-keyframes light2{
    0%{
        
    }
    100%{
        transform: translateX(-1250px);
        -ms-transform: translateX(-1250px);
        -moz-transform: translateX(-1250px);
        -webkit-transform: translateX(-1250px);
        -o-transform: translateX(-1250px);
    }
}
@-o-keyframes light2{
    0%{
        
    }
    100%{
        transform: translateX(-1250px);
        -ms-transform: translateX(-1250px);
        -moz-transform: translateX(-1250px);
        -webkit-transform: translateX(-1250px);
        -o-transform: translateX(-1250px);
    }
}
@keyframes light3{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(1250px);
        -ms-transform: rotate(90deg) translateX(1250px);
        -moz-transform: rotate(90deg) translateX(1250px);
        -webkit-transform: rotate(90deg) translateX(1250px);
        -o-transform: rotate(90deg) translateX(1250px);
    }
}
@-moz-keyframes light3{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(1250px);
        -ms-transform: rotate(90deg) translateX(1250px);
        -moz-transform: rotate(90deg) translateX(1250px);
        -webkit-transform: rotate(90deg) translateX(1250px);
        -o-transform: rotate(90deg) translateX(1250px);
    }
}
@-webkit-keyframes light3{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(1250px);
        -ms-transform: rotate(90deg) translateX(1250px);
        -moz-transform: rotate(90deg) translateX(1250px);
        -webkit-transform: rotate(90deg) translateX(1250px);
        -o-transform: rotate(90deg) translateX(1250px);
    }
}
@-o-keyframes light3{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(1250px);
        -ms-transform: rotate(90deg) translateX(1250px);
        -moz-transform: rotate(90deg) translateX(1250px);
        -webkit-transform: rotate(90deg) translateX(1250px);
        -o-transform: rotate(90deg) translateX(1250px);
    }
}
@keyframes light4{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(-1250px);
        -ms-transform: rotate(90deg) translateX(-1250px);
        -moz-transform: rotate(90deg) translateX(-1250px);
        -webkit-transform: rotate(90deg) translateX(-1250px);
        -o-transform: rotate(90deg) translateX(-1250px);
    }
}
@-moz-keyframes light4{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(-1250px);
        -ms-transform: rotate(90deg) translateX(-1250px);
        -webkit-transform: rotate(90deg) translateX(-1250px);
        -moz-transform: rotate(90deg) translateX(-1250px);
        -o-transform: rotate(90deg) translateX(-1250px);
    }
}
@-webkit-keyframes light4{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(-1250px);
        -ms-transform: rotate(90deg) translateX(-1250px);
        -moz-transform: rotate(90deg) translateX(-1250px);
        -webkit-transform: rotate(90deg) translateX(-1250px);
        -o-transform: rotate(90deg) translateX(-1250px);
    }
}
@-o-keyframes light4{
    0%{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
    }
    100%{
        transform: rotate(90deg) translateX(-1250px);
        -ms-transform: rotate(90deg) translateX(-1250px);
        -moz-transform: rotate(90deg) translateX(-1250px);
        -webkit-transform: rotate(90deg) translateX(-1250px);
        -o-transform: rotate(90deg) translateX(-1250px);
    }
}
@keyframes dot{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@-moz-keyframes dot{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@-webkit-keyframes dot{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@-o-keyframes dot{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
.slide2{
    position: relative;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    .text{
        .fontSize(14);
        color: #c4dfe6;
        position: absolute;
        width: 540/@base;
        left: 0;
        right: 0;
        margin: auto;
        top: 160/@base;
        line-height: 54/@base;
        div{
            span{
                float: left;
            }
            span:nth-child(1){
                .fontSize(15);
                width: 160/@base;
                text-align: right;
                font-weight: bold;
            }
            span:nth-child(2){
                width: 370/@base;
            }
        }
        
    }
    
}
.slide3{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .text{
        .fontSize(14);
        color: #c4dfe6;
        position: absolute;
        width: 524/@base;
        left: 0;
        right: 0;
        margin: auto;
        top: 160/@base;
        line-height: 50/@base;
        span{
            .fontSize(16);
            font-weight: bolder;
            // text-decoration: underline;
            color: #006b9f;
        }
    }
}
.slide4{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .text{
        .fontSize(14);
        color: #c4dfe6;
        position: absolute;
        width: 520/@base;
        left: 0;
        right: 0;
        margin: auto;
        top: 160/@base;
        line-height: 60/@base;
        span{
            display: block;
            text-indent: 60/@base;
        }
        strong{
            .fontSize(16);
            font-weight: bolder;
            // text-decoration: underline;
            color: #006b9f;
        }
        .line{
            width: 100%;
            height:6/@base;
            background-color: #007cb6;
            position: relative;
            top: 10/@base;
        }
        .line_dot{
            position: relative;
            top: -70/@base;
            width: 250/@base;
            animation: line_dot 1s linear infinite;
            -moz-animation: line_dot 1s linear infinite;
            -webkit-animation: line_dot 1s linear infinite;
            -o-animation: line_dot 1s linear infinite;
        }
        .text_bottom{
            position: relative;
            top: -120/@base;
        }
    }
}
@keyframes line_dot{
    0%{

    }
    100%{
        transform: translateX(300px);
        -ms-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
}
@-moz-keyframes line_dot{
    0%{

    }
    100%{
        transform: translateX(300px);
        -ms-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
}
@-webkit-keyframes line_dot{
    0%{

    }
    100%{
        transform: translateX(300px);
        -ms-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
}
@-o-keyframes line_dot{
    0%{

    }
    100%{
        transform: translateX(300px);
        -ms-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -o-transform: translateX(300px);
    }
}
.slide5{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .item0{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
    }
    .item1{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
    }
   
    .item2{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
        margin-top: 20/@base;
    }
    .text{
        color: #c4dfe6;
        position: absolute;
        z-index: 100;
        width: 620/@base;
        top: 140/@base;
        left: 0;
        right: 0;
        margin: auto;
        .line{
            position: absolute;
            width: 3/@base;
            height: 140/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 80/@base;
        }
        .line2{
            position: absolute;
            width: 3/@base;
            height: 190/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 320/@base;
        }
        .line3{
            position: absolute;
            width: 3/@base;
            height: 180/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 650/@base;
        }
        
        .item{
            position: relative;
            margin-top: 40/@base;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            .text1{
                width: 180/@base;
                text-align: center;
            }
            .text2{
                width: 450/@base;
            }
            .text_dot{
                margin-top: -32/@base;
                width: 100/@base;
                z-index: 100;
                height: 100/@base;
            }
            div{
                span{
                    float: left;
                }
                span:nth-child(1){
                    width: 110/@base;
                }
                span:nth-child(2){
                    width: 260/@base;
                    .name{
                        width: 260/@base;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.slide6{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .item0{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
    }
    .item1{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
    }
   
    .item2{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
        margin-top: 20/@base;
    }
    .text{
        color: #c4dfe6;
        position: absolute;
        z-index: 100;
        width: 630/@base;
        top: 140/@base;
        left: 0;
        right: 0;
        margin: auto;
        .line{
            position: absolute;
            width: 3/@base;
            height: 240/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 40/@base;
        }
        .line2{
            position: absolute;
            width: 3/@base;
            height: 390/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 370/@base;
        }
        .line3{
            position: absolute;
            width: 3/@base;
            height: 210/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 650/@base;
        }
        
        .item{
            position: relative;
            margin-top: 40/@base;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            .text1{
                width: 180/@base;
                text-align: center;
            }
            .text2{
                width: 460/@base;
            }
            .text_dot{
                margin-top: -32/@base;
                width: 100/@base;
                z-index: 100;
                height: 100/@base;
            }
            div{
                span{
                    float: left;
                }
                span:nth-child(1){
                    width: 110/@base;
                }
                span:nth-child(2){
                    width: 270/@base;
                    .name{
                        width: 270/@base;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.slide7{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .item0{
        color: #66A5AD;
        width: 100%;
        text-align: center;
        .fontSize(15);
        font-weight: bold;
        margin-top: 60/@base;
    }
    .text{
        color: #c4dfe6;
        position: absolute;
        z-index: 100;
        width: 620/@base;
        top: 140/@base;
        left: 0;
        right: 0;
        margin: auto;
        .line{
            position: absolute;
            width: 3/@base;
            height: 180/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            // left: 0;
            // right: 0;
            // margin: auto;
            top: 40/@base;
        }
        .line2{
            position: absolute;
            width: 3/@base;
            height: 100/@base;
            background-color: #1fa7e3;
            left: 197/@base;
            top: 400/@base;
        }

        
        .item{
            position: relative;
            margin-top: 40/@base;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            .text1{
                width: 180/@base;
                text-align: center;
            }
            .text2{
                width: 450/@base;
            }
            .text_dot{
                margin-top: -32/@base;
                width: 100/@base;
                z-index: 100;
                height: 100/@base;
            }
            div{
                span{
                    float: left;
                }
                span:nth-child(1){
                    width: 110/@base;
                }
                span:nth-child(2){
                    width: 260/@base;
                    .name{
                        width: 260/@base;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.slide8{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    form{
        width: 580/@base;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200/@base;
        div{
            width: 100%;
            height: 80/@base;
            margin-top: 30/@base;
            input{
                .fontSize(18);
                width: 100%;
                height: 80/@base;
                line-height: 80/@base;
                border: none;
                border:2px solid #1fa7e3;
                border-radius: 8/@base;
                text-indent: 30/@base;
            }
        }
        div:nth-child(5){
            div{
                .fontSize(18);
                background-color: #1fa7e3;
                color: white;
                text-indent: 0/@base;
                border-radius: 8/@base;
                height: 80/@base;
                line-height: 80/@base;
                text-align: center;
            }
        }
    }        
}
.slide9{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    .text{
        width: 460/@base;
        position: absolute;
        top: 200/@base;
        left: 0;;
        right: 0;
        margin: auto;
        .area{
            width: 100%;
            height: 300/@base;
            background-color: white;
            img{
                width: 100%;

            }
        }
        .line{
            width: 100%;
            height:6/@base;
            background-color: #007cb6;
            position: absolute;
            top: 348/@base;
        }
        .light_dot{
            width: 100%;
            overflow: hidden;
        }
        .line_dot{
            position: absolute;
            top: 274/@base;
            width: 250/@base;
            animation: line_dot 1s linear infinite;
            -moz-animation: line_dot 1s linear infinite;
            -webkit-animation: line_dot 1s linear infinite;
            -o-animation: line_dot 1s linear infinite;
        }
        .con{
            color: #c4dfe6;
            position: absolute;
            top: 370/@base;
            margin-left: 30/@base;
            p{
                .fontSize(14);
                line-height: 50/@base;
                span{
                    float: left;
                }
                span:nth-child(1){
                    width: 140/@base;
                }
                span:nth-child(2){
                    width: 280/@base;
                }
            }
            p:nth-child(2){
                .fontSize(12);
                line-height: 30/@base;
                clear: both;
                position: relative;
                left: 140/@base;
                width: 320/@base;
            }

        }
    }
    
}
.hidden{
    display: none;
}