html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #000;
  font-family: 'initial';
}
.all {
  width: 100%;
  height: 16.08rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.audio {
  position: absolute;
  z-index: 1000;
  right: 0.4rem;
  top: 0rem;
  width: 0.90666667rem;
}
.active {
  animation: rotate1 1.2s linear infinite;
  -moz-animation: rotate1 1.2s linear infinite;
  -webkit-animation: rotate1 1.2s linear infinite;
  -o-animation: rotate1 1.2s linear infinite;
}
.invitation {
  position: absolute;
  width: 100%;
  height: 16.08rem;
}
.loading {
  width: 100%;
  height: 16.08rem;
}
.loading .center {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.loading .center img {
  position: absolute;
  width: 4.8rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.loading .center img:nth-child(1) {
  animation: rotate1 1.2s linear infinite;
  -moz-animation: rotate1 1.2s linear infinite;
  -webkit-animation: rotate1 1.2s linear infinite;
  -o-animation: rotate1 1.2s linear infinite;
}
.loading .center img:nth-child(2) {
  width: 4.53333333rem;
  z-index: 30;
  animation: rotate2 1s linear infinite;
  -webkit-animation: rotate2 1s linear infinite;
  -moz-animation: rotate2 1s linear infinite;
  -o-animation: rotate2 1s linear infinite;
}
.loading .center img:nth-child(3) {
  width: 4.33333333rem;
  z-index: 50;
  animation: rotate1 1.2s linear infinite;
  -moz-animation: rotate1 1.2s linear infinite;
  -webkit-animation: rotate1 1.2s linear infinite;
  -o-animation: rotate1 1.2s linear infinite;
}
.loading .center p {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 100%;
  top: 1.86666667rem;
}
[data-dpr='2'] .loading .center p {
  font-size: 60px;
}
[data-dpr='3'] .loading .center p {
  font-size: 90px;
}
@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate1 {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate1 {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotate1 {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate1 {
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@-moz-keyframes rotate1 {
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotate1 {
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@-o-keyframes rotate1 {
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
.arrow {
  width: 0.8rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.4rem;
  z-index: 1000;
  animation: arrow 1s infinite;
  -moz-animation: arrow 1s infinite;
  -webkit-animation: arrow 1s infinite;
  -o-animation: arrow 1s infinite;
}
@keyframes arrow {
  100% {
    transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}
@-moz-keyframes arrow {
  100% {
    transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}
@-webkit-keyframes arrow {
  100% {
    transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}
@-o-keyframes arrow {
  100% {
    transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}
.swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.swiper-container .bg_star {
  position: absolute;
  width: 100%;
}
.swiper-container .kua {
  position: absolute;
  width: 9.33333333rem;
  height: 14.42666667rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.swiper-container .kua img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.swiper-container .kua img:nth-child(2) {
  width: 90%;
  left: 0;
  top: 0;
  margin: auto;
}
.swiper-container .light img {
  width: 7.84rem;
  position: absolute;
}
.swiper-container .light img:nth-child(1) {
  left: -10.66666667rem;
  top: -14.4rem;
  animation: light1 1s linear infinite;
  -moz-animation: light1 1s linear infinite;
  -webkit-animation: light1 1s linear infinite;
  -o-animation: light1 1s linear infinite;
}
.swiper-container .light img:nth-child(2) {
  right: -10.66666667rem;
  bottom: -14.4rem;
  animation: light2 1s linear infinite;
  -moz-animation: light2 1s linear infinite;
  -webkit-animation: light2 1s linear infinite;
  -o-animation: light2 1s linear infinite;
}
.swiper-container .light img:nth-child(3) {
  transform-origin: center center;
  -ma-transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  right: -9.41333333rem;
  top: -14.4rem;
  animation: light3 1s linear infinite;
  -moz-animation: light3 1s linear infinite;
  -webkit-animation: light3 1s linear infinite;
  -o-animation: light3 1s linear infinite;
}
.swiper-container .light img:nth-child(4) {
  transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  left: -9.41333333rem;
  bottom: -14.4rem;
  animation: light4 1s linear infinite;
  -moz-animation: light4 1s linear infinite;
  -webkit-animation: light4 1s linear infinite;
  -o-animation: light4 1s linear infinite;
}
.swiper-container .light_effect {
  position: absolute;
  width: 8rem;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -3.33333333rem;
}
.swiper-container .city {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1.86666667rem;
  width: 7.2rem;
}
.swiper-container .header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  width: 5.06666667rem;
  top: 0.8rem;
}
.swiper-container .header img {
  position: absolute;
  width: 5.06666667rem;
}
.swiper-container .header p {
  font-size: 17px;
  position: absolute;
  color: #c4dfe6;
  width: 100%;
  text-align: center;
  line-height: 0.66666667rem;
}
[data-dpr='2'] .swiper-container .header p {
  font-size: 34px;
}
[data-dpr='3'] .swiper-container .header p {
  font-size: 51px;
}
.swiper-container,
.swiper-slide {
  width: 100%;
  height: 100%;
}
.slide1 {
  position: relative;
}
.slide1 .bg_loading {
  width: 100%;
  position: absolute;
}
.slide1 .logo {
  width: 4.25333333rem;
  position: absolute;
  left: 1.06666667rem;
  top: 1.6rem;
}
.slide1 .text_invitation {
  position: absolute;
  z-index: 300;
  width: 3.73333333rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.93333333rem;
}
.slide1 .text_invitation img {
  width: 3.73333333rem;
}
.slide1 .img_text1 {
  position: absolute;
  z-index: 30;
  width: 8.53333333rem;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 1.06666667rem;
  top: 5.86666667rem;
  z-index: 200;
}
.slide1 .text_light {
  position: absolute;
  z-index: 200;
  top: 1.33333333rem;
  left: 2.13333333rem;
  width: 6.13333333rem;
}
.slide1 .dress {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1.73333333rem;
  width: 3.06666667rem;
}
.slide1 .center {
  position: absolute;
  width: 5.86666667rem;
  height: 5.86666667rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.slide1 .center .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.slide1 .center .circle:nth-child(2) {
  z-index: 10;
  width: 5.73333333rem;
}
.slide1 .center .circle:nth-child(3) {
  z-index: 30;
  width: 5.6rem;
}
.slide1 .center .time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: -0.26666667rem;
  z-index: 30;
  color: #66A5AD;
  font-size: 28px;
}
[data-dpr='2'] .slide1 .center .time {
  font-size: 56px;
}
[data-dpr='3'] .slide1 .center .time {
  font-size: 84px;
}
.slide1 .center .img_text2 {
  position: absolute;
  z-index: 30;
  width: 3.46666667rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.33333333rem;
}
.slide1 .center .timeText {
  position: absolute;
  z-index: 100;
  width: 2.93333333rem;
  left: 0;
  right: 0;
  margin: auto;
  top: -0.13333333rem;
}
.slide1 .center .text {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 30;
  color: #66A5AD;
  font-size: 22px;
  font-weight: bold;
  top: 0.93333333rem;
  animation: dot 2s linear infinite;
  -moz-animation: dot 2s linear infinite;
  -webkit-animation: dot 2s linear infinite;
  -o-animation: dot 2s linear infinite;
}
[data-dpr='2'] .slide1 .center .text {
  font-size: 44px;
}
[data-dpr='3'] .slide1 .center .text {
  font-size: 66px;
}
.slide1 .dot_light {
  position: absolute;
  z-index: 500;
  top: 6.26666667rem;
  left: 1.92rem;
}
.slide1 .dot {
  width: 2.17333333rem;
  animation: dot 2s linear infinite;
  -moz-animation: dot 2s linear infinite;
  -webkit-animation: dot 2s linear infinite;
  -o-animation: dot 2s linear infinite;
}
@keyframes scale {
  0% {
    transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@-moz-keyframes scale {
  0% {
    transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@-o-keyframes scale {
  0% {
    transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@keyframes light1 {
  100% {
    transform: translateX(1250px);
    -moz-transform: translateX(1250px);
    -ms-transform: translateX(1250px);
    -webkit-transform: translateX(1250px);
    -o-transform: translateX(1250px);
  }
}
@-moz-keyframes light1 {
  100% {
    transform: translateX(1250px);
    -moz-transform: translateX(1250px);
    -ms-transform: translateX(1250px);
    -webkit-transform: translateX(1250px);
    -o-transform: translateX(1250px);
  }
}
@-webkit-keyframes light1 {
  100% {
    transform: translateX(1250px);
    -ms-transform: translateX(1250px);
    -moz-transform: translateX(1250px);
    -webkit-transform: translateX(1250px);
    -o-transform: translateX(1250px);
  }
}
@-o-keyframes light1 {
  100% {
    transform: translateX(1250px);
    -ms-transform: translateX(1250px);
    -moz-transform: translateX(1250px);
    -webkit-transform: translateX(1250px);
    -o-transform: translateX(1250px);
  }
}
@keyframes light2 {
  100% {
    transform: translateX(-1250px);
    -ms-transform: translateX(-1250px);
    -moz-transform: translateX(-1250px);
    -webkit-transform: translateX(-1250px);
    -o-transform: translateX(-1250px);
  }
}
@-moz-keyframes light2 {
  100% {
    transform: translateX(-1250px);
    -ms-transform: translateX(-1250px);
    -moz-transform: translateX(-1250px);
    -webkit-transform: translateX(-1250px);
    -o-transform: translateX(-1250px);
  }
}
@-webkit-keyframes light2 {
  100% {
    transform: translateX(-1250px);
    -ms-transform: translateX(-1250px);
    -moz-transform: translateX(-1250px);
    -webkit-transform: translateX(-1250px);
    -o-transform: translateX(-1250px);
  }
}
@-o-keyframes light2 {
  100% {
    transform: translateX(-1250px);
    -ms-transform: translateX(-1250px);
    -moz-transform: translateX(-1250px);
    -webkit-transform: translateX(-1250px);
    -o-transform: translateX(-1250px);
  }
}
@keyframes light3 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(1250px);
    -ms-transform: rotate(90deg) translateX(1250px);
    -moz-transform: rotate(90deg) translateX(1250px);
    -webkit-transform: rotate(90deg) translateX(1250px);
    -o-transform: rotate(90deg) translateX(1250px);
  }
}
@-moz-keyframes light3 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(1250px);
    -ms-transform: rotate(90deg) translateX(1250px);
    -moz-transform: rotate(90deg) translateX(1250px);
    -webkit-transform: rotate(90deg) translateX(1250px);
    -o-transform: rotate(90deg) translateX(1250px);
  }
}
@-webkit-keyframes light3 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(1250px);
    -ms-transform: rotate(90deg) translateX(1250px);
    -moz-transform: rotate(90deg) translateX(1250px);
    -webkit-transform: rotate(90deg) translateX(1250px);
    -o-transform: rotate(90deg) translateX(1250px);
  }
}
@-o-keyframes light3 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(1250px);
    -ms-transform: rotate(90deg) translateX(1250px);
    -moz-transform: rotate(90deg) translateX(1250px);
    -webkit-transform: rotate(90deg) translateX(1250px);
    -o-transform: rotate(90deg) translateX(1250px);
  }
}
@keyframes light4 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(-1250px);
    -ms-transform: rotate(90deg) translateX(-1250px);
    -moz-transform: rotate(90deg) translateX(-1250px);
    -webkit-transform: rotate(90deg) translateX(-1250px);
    -o-transform: rotate(90deg) translateX(-1250px);
  }
}
@-moz-keyframes light4 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(-1250px);
    -ms-transform: rotate(90deg) translateX(-1250px);
    -webkit-transform: rotate(90deg) translateX(-1250px);
    -moz-transform: rotate(90deg) translateX(-1250px);
    -o-transform: rotate(90deg) translateX(-1250px);
  }
}
@-webkit-keyframes light4 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(-1250px);
    -ms-transform: rotate(90deg) translateX(-1250px);
    -moz-transform: rotate(90deg) translateX(-1250px);
    -webkit-transform: rotate(90deg) translateX(-1250px);
    -o-transform: rotate(90deg) translateX(-1250px);
  }
}
@-o-keyframes light4 {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg) translateX(-1250px);
    -ms-transform: rotate(90deg) translateX(-1250px);
    -moz-transform: rotate(90deg) translateX(-1250px);
    -webkit-transform: rotate(90deg) translateX(-1250px);
    -o-transform: rotate(90deg) translateX(-1250px);
  }
}
@keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-o-keyframes dot {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.slide2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide2 .text {
  font-size: 14px;
  color: #c4dfe6;
  position: absolute;
  width: 7.2rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.13333333rem;
  line-height: 0.72rem;
}
[data-dpr='2'] .slide2 .text {
  font-size: 28px;
}
[data-dpr='3'] .slide2 .text {
  font-size: 42px;
}
.slide2 .text div span {
  float: left;
}
.slide2 .text div span:nth-child(1) {
  font-size: 15px;
  width: 2.13333333rem;
  text-align: right;
  font-weight: bold;
}
[data-dpr='2'] .slide2 .text div span:nth-child(1) {
  font-size: 30px;
}
[data-dpr='3'] .slide2 .text div span:nth-child(1) {
  font-size: 45px;
}
.slide2 .text div span:nth-child(2) {
  width: 4.93333333rem;
}
.slide3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide3 .text {
  font-size: 14px;
  color: #c4dfe6;
  position: absolute;
  width: 6.98666667rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.13333333rem;
  line-height: 0.66666667rem;
}
[data-dpr='2'] .slide3 .text {
  font-size: 28px;
}
[data-dpr='3'] .slide3 .text {
  font-size: 42px;
}
.slide3 .text span {
  font-size: 16px;
  font-weight: bolder;
  color: #006b9f;
}
[data-dpr='2'] .slide3 .text span {
  font-size: 32px;
}
[data-dpr='3'] .slide3 .text span {
  font-size: 48px;
}
.slide4 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide4 .text {
  font-size: 14px;
  color: #c4dfe6;
  position: absolute;
  width: 6.93333333rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.13333333rem;
  line-height: 0.8rem;
}
[data-dpr='2'] .slide4 .text {
  font-size: 28px;
}
[data-dpr='3'] .slide4 .text {
  font-size: 42px;
}
.slide4 .text span {
  display: block;
  text-indent: 0.8rem;
}
.slide4 .text strong {
  font-size: 16px;
  font-weight: bolder;
  color: #006b9f;
}
[data-dpr='2'] .slide4 .text strong {
  font-size: 32px;
}
[data-dpr='3'] .slide4 .text strong {
  font-size: 48px;
}
.slide4 .text .line {
  width: 100%;
  height: 0.08rem;
  background-color: #007cb6;
  position: relative;
  top: 0.13333333rem;
}
.slide4 .text .line_dot {
  position: relative;
  top: -0.93333333rem;
  width: 3.33333333rem;
  animation: line_dot 1s linear infinite;
  -moz-animation: line_dot 1s linear infinite;
  -webkit-animation: line_dot 1s linear infinite;
  -o-animation: line_dot 1s linear infinite;
}
.slide4 .text .text_bottom {
  position: relative;
  top: -1.6rem;
}
@keyframes line_dot {
  100% {
    transform: translateX(300px);
    -ms-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
@-moz-keyframes line_dot {
  100% {
    transform: translateX(300px);
    -ms-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
@-webkit-keyframes line_dot {
  100% {
    transform: translateX(300px);
    -ms-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
@-o-keyframes line_dot {
  100% {
    transform: translateX(300px);
    -ms-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
.slide5 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide5 .item0 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
[data-dpr='2'] .slide5 .item0 {
  font-size: 30px;
}
[data-dpr='3'] .slide5 .item0 {
  font-size: 45px;
}
.slide5 .item1 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
[data-dpr='2'] .slide5 .item1 {
  font-size: 30px;
}
[data-dpr='3'] .slide5 .item1 {
  font-size: 45px;
}
.slide5 .item2 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.26666667rem;
}
[data-dpr='2'] .slide5 .item2 {
  font-size: 30px;
}
[data-dpr='3'] .slide5 .item2 {
  font-size: 45px;
}
.slide5 .text {
  color: #c4dfe6;
  position: absolute;
  z-index: 100;
  width: 8.26666667rem;
  top: 1.86666667rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slide5 .text .line {
  position: absolute;
  width: 0.04rem;
  height: 1.86666667rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 1.06666667rem;
}
.slide5 .text .line2 {
  position: absolute;
  width: 0.04rem;
  height: 2.53333333rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 4.26666667rem;
}
.slide5 .text .line3 {
  position: absolute;
  width: 0.04rem;
  height: 2.4rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 8.66666667rem;
}
.slide5 .text .item {
  position: relative;
  margin-top: 0.53333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slide5 .text .item .text1 {
  width: 2.4rem;
  text-align: center;
}
.slide5 .text .item .text2 {
  width: 6rem;
}
.slide5 .text .item .text_dot {
  margin-top: -0.42666667rem;
  width: 1.33333333rem;
  z-index: 100;
  height: 1.33333333rem;
}
.slide5 .text .item div span {
  float: left;
}
.slide5 .text .item div span:nth-child(1) {
  width: 1.46666667rem;
}
.slide5 .text .item div span:nth-child(2) {
  width: 3.46666667rem;
}
.slide5 .text .item div span:nth-child(2) .name {
  width: 3.46666667rem;
  text-align: center;
}
.slide6 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide6 .item0 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
[data-dpr='2'] .slide6 .item0 {
  font-size: 30px;
}
[data-dpr='3'] .slide6 .item0 {
  font-size: 45px;
}
.slide6 .item1 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
[data-dpr='2'] .slide6 .item1 {
  font-size: 30px;
}
[data-dpr='3'] .slide6 .item1 {
  font-size: 45px;
}
.slide6 .item2 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.26666667rem;
}
[data-dpr='2'] .slide6 .item2 {
  font-size: 30px;
}
[data-dpr='3'] .slide6 .item2 {
  font-size: 45px;
}
.slide6 .text {
  color: #c4dfe6;
  position: absolute;
  z-index: 100;
  width: 8.4rem;
  top: 1.86666667rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slide6 .text .line {
  position: absolute;
  width: 0.04rem;
  height: 3.2rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 0.53333333rem;
}
.slide6 .text .line2 {
  position: absolute;
  width: 0.04rem;
  height: 5.2rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 4.93333333rem;
}
.slide6 .text .line3 {
  position: absolute;
  width: 0.04rem;
  height: 2.8rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 8.66666667rem;
}
.slide6 .text .item {
  position: relative;
  margin-top: 0.53333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slide6 .text .item .text1 {
  width: 2.4rem;
  text-align: center;
}
.slide6 .text .item .text2 {
  width: 6.13333333rem;
}
.slide6 .text .item .text_dot {
  margin-top: -0.42666667rem;
  width: 1.33333333rem;
  z-index: 100;
  height: 1.33333333rem;
}
.slide6 .text .item div span {
  float: left;
}
.slide6 .text .item div span:nth-child(1) {
  width: 1.46666667rem;
}
.slide6 .text .item div span:nth-child(2) {
  width: 3.6rem;
}
.slide6 .text .item div span:nth-child(2) .name {
  width: 3.6rem;
  text-align: center;
}
.slide7 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide7 .item0 {
  color: #66A5AD;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.8rem;
}
[data-dpr='2'] .slide7 .item0 {
  font-size: 30px;
}
[data-dpr='3'] .slide7 .item0 {
  font-size: 45px;
}
.slide7 .text {
  color: #c4dfe6;
  position: absolute;
  z-index: 100;
  width: 8.26666667rem;
  top: 1.86666667rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slide7 .text .line {
  position: absolute;
  width: 0.04rem;
  height: 2.4rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 0.53333333rem;
}
.slide7 .text .line2 {
  position: absolute;
  width: 0.04rem;
  height: 1.33333333rem;
  background-color: #1fa7e3;
  left: 2.62666667rem;
  top: 5.33333333rem;
}
.slide7 .text .item {
  position: relative;
  margin-top: 0.53333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slide7 .text .item .text1 {
  width: 2.4rem;
  text-align: center;
}
.slide7 .text .item .text2 {
  width: 6rem;
}
.slide7 .text .item .text_dot {
  margin-top: -0.42666667rem;
  width: 1.33333333rem;
  z-index: 100;
  height: 1.33333333rem;
}
.slide7 .text .item div span {
  float: left;
}
.slide7 .text .item div span:nth-child(1) {
  width: 1.46666667rem;
}
.slide7 .text .item div span:nth-child(2) {
  width: 3.46666667rem;
}
.slide7 .text .item div span:nth-child(2) .name {
  width: 3.46666667rem;
  text-align: center;
}
.slide8 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide8 form {
  width: 7.73333333rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.66666667rem;
}
.slide8 form div {
  width: 100%;
  height: 1.06666667rem;
  margin-top: 0.4rem;
}
.slide8 form div input {
  font-size: 18px;
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border: none;
  border: 2px solid #1fa7e3;
  border-radius: 0.10666667rem;
  text-indent: 0.4rem;
}
[data-dpr='2'] .slide8 form div input {
  font-size: 36px;
}
[data-dpr='3'] .slide8 form div input {
  font-size: 54px;
}
.slide8 form div:nth-child(5) div {
  font-size: 18px;
  background-color: #1fa7e3;
  color: white;
  text-indent: 0rem;
  border-radius: 0.10666667rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: center;
}
[data-dpr='2'] .slide8 form div:nth-child(5) div {
  font-size: 36px;
}
[data-dpr='3'] .slide8 form div:nth-child(5) div {
  font-size: 54px;
}
.slide9 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide9 .text {
  width: 6.13333333rem;
  position: absolute;
  top: 2.66666667rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slide9 .text .area {
  width: 100%;
  height: 4rem;
  background-color: white;
}
.slide9 .text .area img {
  width: 100%;
}
.slide9 .text .line {
  width: 100%;
  height: 0.08rem;
  background-color: #007cb6;
  position: absolute;
  top: 4.64rem;
}
.slide9 .text .light_dot {
  width: 100%;
  overflow: hidden;
}
.slide9 .text .line_dot {
  position: absolute;
  top: 3.65333333rem;
  width: 3.33333333rem;
  animation: line_dot 1s linear infinite;
  -moz-animation: line_dot 1s linear infinite;
  -webkit-animation: line_dot 1s linear infinite;
  -o-animation: line_dot 1s linear infinite;
}
.slide9 .text .con {
  color: #c4dfe6;
  position: absolute;
  top: 4.93333333rem;
  margin-left: 0.4rem;
}
.slide9 .text .con p {
  font-size: 14px;
  line-height: 0.66666667rem;
}
[data-dpr='2'] .slide9 .text .con p {
  font-size: 28px;
}
[data-dpr='3'] .slide9 .text .con p {
  font-size: 42px;
}
.slide9 .text .con p span {
  float: left;
}
.slide9 .text .con p span:nth-child(1) {
  width: 1.86666667rem;
}
.slide9 .text .con p span:nth-child(2) {
  width: 3.73333333rem;
}
.slide9 .text .con p:nth-child(2) {
  font-size: 12px;
  line-height: 0.4rem;
  clear: both;
  position: relative;
  left: 1.86666667rem;
  width: 4.26666667rem;
}
[data-dpr='2'] .slide9 .text .con p:nth-child(2) {
  font-size: 24px;
}
[data-dpr='3'] .slide9 .text .con p:nth-child(2) {
  font-size: 36px;
}
.hidden {
  display: none;
}
